
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-Table {
    background-color: rgb(227, 227, 227);
    height: 120vh;
}

.dataTable {
    padding: 30px;
    position: relative;
    bottom: 40px;
    left: 7px;
    width: 92vw;
    background-color: white;
    border-radius: 10px;
    height: 97vh;
}

.searchTable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search{
    position: absolute;
    left: 40px;
    top: 6.4%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #aaa;
}

.sort {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(174, 167, 167);
    padding-left: 40px;
    font-size: 20px;
}

.sort::placeholder {
    font-size: 20px;
    color: rgb(192, 181, 181);
}

.column {
    display: flex;
    flex-direction: row;
    background-color: rgb(194, 215, 223);
    padding: 10px;
    font-weight: 600;
}

.column p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.tables {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tables p {
    margin: 0;
    padding: 0;
    color: gray;
}

.projectName{
    font-weight: 600;
}

.date {
    font-size: 14px;
}

.data-btn {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.data-btn button {
    height: 30px;
    padding: 4px;
    font-size: 14px;
}

.status-btn {
    width: 80px;
    border: 2px solid #0c4d97;
    background-color: white;
    padding: 2px;
    border-radius: 20px;
    color: #0c4d97;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}

.status-btn-active {
    background-color: #0c4d97;
    color: white;
    width: 80px;
    border: 2px solid #0c4d97;
    padding: 2px;
    border-radius: 20px;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}

.responsive-dataTable{
    display: none;
}